<body bgcolor="white"
      style="font-family: Arial;  font-size: 16px;  font-weight: normal;  font-style: normal;  font-stretch: normal;  line-height: 1.56;  letter-spacing: normal;  text-align: left;  color: #333333; padding: 0; margin: 0">
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <table bgcolor="#dbdbdb">
                <tr>
                    <td>
                        <table bgcolor="#dbdbdb" cellpadding="0" cellspacing="0"
                               style="max-width: 800px; min-width: 350px">
                            <tr>
                                <td align="center">
                                    <span style="font-family: Georgia;  font-size: 35px;  font-weight: normal;  font-style: normal;  font-stretch: normal;  line-height: 1.14;  letter-spacing: normal;  text-align: center;  color: #333333;">
                                        Get ready!</span>
                                    <hr style="border-top: 1px dashed; border-bottom: none; max-width: 300px">
                                    <span style="font-family: Georgia;  font-size: 25px;  font-weight: normal;  font-style: normal;  font-stretch: normal;  line-height: 1.12;  letter-spacing: normal;  text-align: center;  color: #333333;">
                                        We’re just around the corner.</span>
                                </td>
                            </tr>
                            <tr>
                                <td align="center"><img src="https://browns.noqu.delivery/browns/almost_there.png" alt="order en route" width="679"
                                                        height="91"
                                                        style="width: 100%; max-width: 679px; margin-top: 25px; height: auto">
                                </td>
                            </tr>
                            <tr>
                                <td><br><br></td>
                            </tr>
                            <tr>
                                <td align="center"><img src="https://browns.noqu.delivery/browns/browns_logo.png" alt="Browns" width="1596"
                                                        height="311"
                                                        style="width: 100%; height: auto;"></td>
                            </tr>
                            <tr>
                                <td bgcolor="white" style="padding: 27px 30px;">
                                    <p>Hi {{firstname}} {{lastname}}</p>
                                    <p>Get ready, your Browns order is around the corner and should be with you in the
                                        next 15 minutes!!</p>
                                    <p>Not going to be in? Not a problem, contact us and we will arrange a redelivery
                                        that is convenient for you.</p>
                                    <h2>NEED FURTHER HELP?</h2>
                                    <p>Contact our friendly Customer Service team – remember we’ll need your order
                                        number.
                                        <br>Tel: <a href="tel:+448081961022">+44 808 196 1022</a>
                                        <br>Email: Click here to send us an email <a href="mailto:support@lineten.com">support@lineten.com</a></p>
                                    <p>
                                        Thanks again for shopping with us!
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>