<body bgcolor="white"
      style="font-family: Arial;  font-size: 16px;  font-weight: normal;  font-style: normal;  font-stretch: normal;  line-height: 1.56;  letter-spacing: normal;  text-align: left;  color: #333333; padding: 0; margin: 0">
<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td align="center">
            <table bgcolor="#f8f8f8">
                <tr>
                    <td>
                        <table bgcolor="#f8f8f8" cellpadding="0" cellspacing="0"
                               style="max-width: 800px; min-width: 350px">
                            <tr>
                                <td align="center">
                                    <br><br>
                                    <img src="https://browns.noqu.delivery/browns/farfetch_logo.png" alt="Farfetch" width="420"
                                         height="73"
                                         style="max-width: 100%; width: auto; height: auto;">
                                    <br><br>
                                </td>
                            </tr>
                            <tr>
                                <td align="center">
                                    <span style="font-family: Georgia;  font-size: 35px;  font-weight: normal;  font-style: normal;  font-stretch: normal;  line-height: 1.14;  letter-spacing: normal;  text-align: center;  color: #333333;">
                                        Good news!</span>
                                    <hr style="border-top: 1px dashed; border-bottom: none; max-width: 300px">
                                    <span style="font-family: Georgia;  font-size: 25px;  font-weight: normal;  font-style: normal;  font-stretch: normal;  line-height: 1.12;  letter-spacing: normal;  text-align: center;  color: #333333;">
                                        Your order is on its way.</span>
                                </td>
                            </tr>
                            <tr>
                                <td align="center"><img src="https://browns.noqu.delivery/browns/en_route.png" alt="order en route" width="679"
                                                        height="91"
                                                        style="width: 100%; max-width: 679px; margin-top: 25px; height: auto; text-align: center">
                                </td>
                            </tr>
                            <tr>
                                <td><br><br></td>
                            </tr>
                            <tr>
                                <td bgcolor="white" style="padding: 27px 30px;">
                                    <p>Hi {{firstname}} {{lastname}}</p>

                                    <p>Good news, your Farfetch order has been dispatched and will be with
                                        you shortly.</p>

                                    <p>These will be shipped to</p>
                                    <p style="font-weight: bold">
                                        {{address}}<br>
                                        {{city}}<br>
                                        {{postcode}}
                                    </p>
                                    <p>Tracking your delivery is easy, just click on the following link to see where
                                        your order is
                                        and get an
                                        updated ETA.</p>

                                    <a href="{{delivery_tracker}}"
                                       style="border-radius: 50px; padding: 10px 15px; background-color: #000000; color: #ffffff;  text-align:left;  text-decoration: none; width: 80%; max-width: 300px; display: inline-block; margin-right: 5px;"><span>Track
                                        order progress</span><span style="font-size: 16px; float: right">&#8827;</span></a>

                                    <p>Wrong address or not going to be in? Not a problem, contact us and we will
                                        arrange a
                                        redelivery that is
                                        convenient for you.</p>

                                    <h2>NEED FURTHER HELP?</h2>
                                    <p>Contact our friendly Customer Service team – remember we’ll need your order
                                        number.
                                        <br>Tel: <a href="tel:+448081961022">+44 808 196 1022</a>
                                        <br>Email: Click here to send us an email <a href="mailto:support@lineten.com">support@lineten.com</a></p>
                                    <p>
                                        Thanks again for shopping with us!
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>