<form action="/admin/ajax/39594d6c-c7ba-4e47-9ad9-ff57c66a86bc/jobs/job/update/3665" id="crud-edit" method="post"
      onsubmit="return false;"
><input type="hidden" name="Id" id="Id" value=""/>
    <div class="row">
        <div class="col-xs-2 text-center"><i class="fa fa-ellipsis-h fa-size-large text-primary m-t-xs" role="button"
                                             data-toggle="collapse" href="#collapseDriverDetails"></i></div>
        <div class="col-xs-4 h-bg-navy-blue text-white text-center"><h2 id="PickupTime"></h2></div>
        <div class="col-xs-6 text-white text-center dropdown history-dropdown" style="background: #C6C6C6"><a
                class="btn btn-transparent btn-outline dropdown-toggle text-white" href="#" data-toggle="dropdown"
                aria-expanded="false"><i class="fa fa-ellipsis-v fa-size-medium pull-right"></i>
            <h2 id="DeliveryStatus">Updating</h2></a>
            <div class="dropdown-menu hdropdown animated flipInX" id="jobDetails"><h2 class="text-primary text-center">
                Loading job details...</h2></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-primary">
            <div id="collapseDriverDetails" class="collapse collapse-pinned">
                <div class="col-xs-2 text-center"><img id="driver-photo" class="driver-photo"
                                                       src="/profile/image/ZGVmYXVsdA=="
                                                       onclick="$(this).toggleClass('in')"/></div>
                <div class="col-xs-4 p-v-sm text-center driver-details"><small>Transport</small>
                    <div class="text-primary"><span id="driver-vehicle-reg">-</span></div>
                </div>
                <div class="col-xs-6 p-v-sm text-center driver-details"><small>Driver</small>
                    <div class="text-primary"><span id="driver-name">Currently Unassigned</span><br/><span
                            id="driver-phone"></span></div>
                </div>
                <div class="col-xs-12 col-md-6 col-md-offset-6 m-b">
                    <hr/>
                    <strong><small> ()</small></strong>
                    <div class="row">
                        <div class="col-xs-12 text-danger"></div>
                        <div class="col-xs-9 col-md-10 text-right"><strong>Total</strong></div>
                        <div class="col-xs-3 col-md-2 text-right"><strong></strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row font-light">
        <div class="col-md-2 hidden-xs hidden-sm h-bg-blue text-white text-right"><h2>FROM</h2></div>
        <div class="col-xs-12 col-md-10 bg-info text-info text-center">
            <div class="row">
                <div class="col-md-11">
                    <div class="job-detail m-t-xs font-bold addressFrom" id="PickupAddress-DisplayAddress"></div>
                    <div class="job-detail m-t-xs m-b-xs"><span id="PickupAddress-Contact"></span><span
                            id="PickupAddress-Phone"></span><span id="PickupAddress-Email"></span></div>
                </div>
                <div class="col-md-1 m-t-sm m-b-xs text-center"></div>
            </div>
        </div>
    </div>
    <script>
        function initModal(msisdn) {
            $("#smsmodal-title").text("Send SMS to " + msisdn);
            $("#smsMSISDN").val(msisdn);
        }

        $(function () {
            $('[data-toggle="popover"]').popover({
                container: 'body'
            })
        })
    </script>
    <div class="row border-bottom">
        <div class="embed-responsive embed-responsive-16by9">
            <div id="mapmodalcontent" class="embed-responsive-item"></div>
        </div>
    </div>
    <script>$('#editmodal-title').html(null + ' #    <img class="quote-logo pull-right" src="/image/provider/unknown.png" />');</script>
    <script>
        function jobDelivered() {
            if (true) {
                $('#editmodalclose').before('<span id="rating-buttons"><span class="font-bold m-sm">OPTIONAL RATING</span><button class="ladda-button btn btn-danger not-fixed-width" data-style="zoom-in" onclick="rateJob(,\'NEGATIVE\')" title="Poor"><span class="ladda-label"><i class="fa fa-thumbs-down"></i></span></button><button class="ladda-button btn btn-warning not-fixed-width" data-style="zoom-in"onclick="rateJob(,\'NEUTRAL\')" title="OK"><span class="ladda-label"><i class="fa fa-smile-o"></i></span></button><button class="ladda-button btn btn-success not-fixed-width" data-style="zoom-in" onclick="rateJob(,\'POSITIVE\')" title="Great"><span class="ladda-label"><i class="fa fa-star"></i></span></button></span>');
            } else {
                $('#editmodalclose').before('<span id="rating-buttons" class="text-danger">You gave this job a 0 rating</span>');
            }
        }

        function removeCancel() {
            $('#cancel-job').remove();
        }

        function removeReprint() {
            $('#print-label').remove();
        }

        function removeForceStatus() {
            $('#force-status').remove();
        }

        screenOrientation = $(document).width() > $(document).height() ? 'landscape' : 'portrait';
        $('.embed-responsive').toggleClass('embed-responsive-16by9', screenOrientation == 'landscape').toggleClass('embed-responsive-4by3', screenOrientation == 'portrait');

        $('#collapseDriverDetails').on('hidden.bs.collapse', function () {
            $('.driver-photo').removeClass('in');
        });


        $('#editmodalsave').hide();

        $('.history-dropdown').on('show.bs.dropdown', function () {
            ajaxLoadDetails('/jobs/job/ajaxDetailsHTML/', '#jobDetails');
        });

        var styles = [{
            "featureType": "administrative",
            "elementType": "all",
            "stylers": [{"visibility": "on"}, {"lightness": 33}]
        }, {
            "featureType": "administrative",
            "elementType": "labels",
            "stylers": [{"saturation": "-100"}]
        }, {
            "featureType": "administrative",
            "elementType": "labels.text",
            "stylers": [{"gamma": "0.75"}]
        }, {
            "featureType": "administrative.neighborhood",
            "elementType": "labels.text.fill",
            "stylers": [{"lightness": "-37"}]
        }, {
            "featureType": "landscape",
            "elementType": "geometry",
            "stylers": [{"color": "#f9f9f9"}]
        }, {
            "featureType": "landscape.man_made",
            "elementType": "geometry",
            "stylers": [{"saturation": "-100"}, {"lightness": "40"}, {"visibility": "off"}]
        }, {
            "featureType": "landscape.natural",
            "elementType": "labels.text.fill",
            "stylers": [{"saturation": "-100"}, {"lightness": "-37"}]
        }, {
            "featureType": "landscape.natural",
            "elementType": "labels.text.stroke",
            "stylers": [{"saturation": "-100"}, {"lightness": "100"}, {"weight": "2"}]
        }, {
            "featureType": "landscape.natural",
            "elementType": "labels.icon",
            "stylers": [{"saturation": "-100"}]
        }, {
            "featureType": "poi",
            "elementType": "geometry",
            "stylers": [{"saturation": "-100"}, {"lightness": "80"}]
        }, {
            "featureType": "poi",
            "elementType": "labels",
            "stylers": [{"saturation": "-100"}, {"lightness": "0"}]
        }, {
            "featureType": "poi.attraction",
            "elementType": "geometry",
            "stylers": [{"lightness": "-4"}, {"saturation": "-100"}]
        }, {
            "featureType": "poi.park",
            "elementType": "geometry",
            "stylers": [{"color": "#c5dac6"}, {"visibility": "on"}, {"saturation": "-95"}, {"lightness": "62"}]
        }, {
            "featureType": "poi.park",
            "elementType": "labels",
            "stylers": [{"visibility": "on"}, {"lightness": 20}]
        }, {"featureType": "road", "elementType": "all", "stylers": [{"lightness": 20}]}, {
            "featureType": "road",
            "elementType": "labels",
            "stylers": [{"saturation": "-100"}, {"gamma": "1.00"}]
        }, {
            "featureType": "road",
            "elementType": "labels.text",
            "stylers": [{"gamma": "0.50"}]
        }, {
            "featureType": "road",
            "elementType": "labels.icon",
            "stylers": [{"saturation": "-100"}, {"gamma": "0.50"}]
        }, {
            "featureType": "road.highway",
            "elementType": "geometry",
            "stylers": [{"color": "#c5c6c6"}, {"saturation": "-100"}]
        }, {
            "featureType": "road.highway",
            "elementType": "geometry.stroke",
            "stylers": [{"lightness": "-13"}]
        }, {
            "featureType": "road.highway",
            "elementType": "labels.icon",
            "stylers": [{visibility: "off"}]
        }, {
            "featureType": "road.arterial",
            "elementType": "geometry",
            "stylers": [{"color": "#e4d7c6"}, {"saturation": "-100"}, {"lightness": "47"}]
        }, {
            "featureType": "road.arterial",
            "elementType": "geometry.stroke",
            "stylers": [{"lightness": "-12"}]
        }, {
            "featureType": "road.arterial",
            "elementType": "labels.icon",
            "stylers": [{"saturation": "-100"}]
        }, {
            "featureType": "road.local",
            "elementType": "geometry",
            "stylers": [{"color": "#fbfaf7"}, {"lightness": "77"}]
        }, {
            "featureType": "road.local",
            "elementType": "geometry.fill",
            "stylers": [{"lightness": "-5"}, {"saturation": "-100"}]
        }, {
            "featureType": "road.local",
            "elementType": "geometry.stroke",
            "stylers": [{"saturation": "-100"}, {"lightness": "-15"}]
        }, {
            "featureType": "transit.station.airport",
            "elementType": "geometry",
            "stylers": [{"lightness": "47"}, {"saturation": "-100"}]
        }, {
            "featureType": "water",
            "elementType": "all",
            "stylers": [{"visibility": "on"}, {"color": "#acbcc9"}]
        }, {
            "featureType": "water",
            "elementType": "geometry",
            "stylers": [{"saturation": "53"}]
        }, {
            "featureType": "water",
            "elementType": "labels.text.fill",
            "stylers": [{"lightness": "-42"}, {"saturation": "17"}]
        }, {"featureType": "water", "elementType": "labels.text.stroke", "stylers": [{"lightness": "61"}]}];

        var pickupAddress, deliveryAddress;
        var locationmap, driverMarker, pickupMarker, deliveryMarker, polyline, deliveryPath, deliveryLegs,
            deliverySteps, pathLength, legsLength, stepsLength, allPaths, allPathsLength, deliveryAnimation, atStep;

        var animationStep = 0;

        var d = new Date();
        var previousUpdate = d.getTime();
        var previousStep = 0;

        function markerIcon(themarker, theIcon) {
            this[themarker].setIcon(theIcon);
        }

        function markerOpacity(themarker, opacity) {
            this[themarker].setOpacity(opacity);
        }

        function markerAccuracy(themarker, accuracy) {
            if (accuracy == "known") {
                this[themarker].setIcon({
                    'url': icon_marker,
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(24, 48)
                });
                this[themarker].setOpacity(1);
            } else if (accuracy == "fuzzy") {
                this[themarker].setIcon({
                    'url': "/image/marker_circle.png",
                    scaledSize: new google.maps.Size(96, 96),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(48, 48)
                });
                this[themarker].setOpacity(.2);
            }
        }

        function placeMarker(themarker, lat, lng) {
            this[themarker].setPosition(new google.maps.LatLng(lat, lng));
            locationmap.panTo(new google.maps.LatLng(lat, lng));
        }

        function moveToPoint(themarker, point) {
            deliveryLat = allPaths[point].lat();
            deliveryLng = allPaths[point].lng();
            this[themarker].setPosition(new google.maps.LatLng(deliveryLat, deliveryLng));
            locationmap.panTo(new google.maps.LatLng(deliveryLat, deliveryLng));
        }

        function animateDelivery(atStep, timeout) {

            if (typeof timeout == 'undefined') timeout = 500;

            deliveryLat = allPaths[atStep].lat();
            deliveryLng = allPaths[atStep].lng();

            driverMarker.setPosition(new google.maps.LatLng(deliveryLat, deliveryLng));
            driverMarker.setTitle('Step ' + atStep);
            locationmap.panTo(new google.maps.LatLng(deliveryLat, deliveryLng));

            animationStep = atStep;

            if (atStep < allPathsLength - 1) {
                deliveryAnimation = window.setTimeout(function () {
                    animateDelivery(atStep + 1)
                }, timeout);
            } else {
                clearTimeout(deliveryAnimation);
                pageIdle();
            }

        }

        function showRoute() {

            pageActive();
            clearTimeout(deliveryAnimation);
            var geolocationError = false;

            pickupAddress = "";
            deliveryAddress = null;

            $('#mapmodalcontent')
                .gmap3({
                    key: 'AIzaSyCKPHyDrGBOIBpUQ6QO4KGfsMO9FynaBMQ',
                    minZoom: 10,
                    maxZoom: 18,
                    fullscreenControl: false,
                    styles: styles,
                    draggable: true,
                    zIndex: 100,
                })
                .marker({
                    title: pickupAddress,
                    position: [,],
                    icon: {
                        url: icon_marker,
                        anchor: new google.maps.Point(24, 48)
                    },
                    zIndex: 9,
                })
                .catch(function (reason) {
                    geolocationError = true;
                })
                .marker({
                    title: "",
                    position: [,],
                    icon: {
                        url: "/image/marker_restaurant.png",
                        anchor: new google.maps.Point(24, 24)
                    },
                    zIndex: 10,
                    tag: "pickupAddress"
                })
                .catch(function (reason) {
                    $('.addressFrom').addClass('text-danger');
                    geolocationError = true;
                })
                .route({
                    origin: pickupAddress,
                    destination: deliveryAddress,
                    waypoints: [],
                    optimizeWaypoints: true,
                    travelMode: google.maps.DirectionsTravelMode.DRIVING
                })
                .directionsrenderer(function (results) {
                    if (!geolocationError && results) {
                        return {
                            suppressMarkers: true,
                            panel: "#directions",
                            directions: results
                        }
                    }
                })
                .then(function () {
                    if (!geolocationError) {
                        locationmap = this.get(0);
                        driverMarker = this.get(1);
                        pickupMarker = this.get(2);
                        deliveryMarker = this.get(3);
                        polyline = this.get(3);
                        if (polyline.routes.length > 0) {
                            deliveryPath = polyline.routes[0].overview_path;
                            deliveryLegs = polyline.routes[0].legs;
                            deliverySteps = deliveryLegs[0].steps;
                            pathLength = deliveryPath.length;
                            legsLength = deliveryLegs.length;
                            stepsLength = deliverySteps.length;

                            allPaths = [];
                            for (step = 0; step < stepsLength; step++) {
                                for (point = 0; point < deliverySteps[step].path.length; point++) {
                                    allPaths.push(deliverySteps[step].path[point]);
                                }
                            }
                            allPathsLength = allPaths.length;
                        }


                        if ('' == "idle") {
                            markerAccuracy("driverMarker", "fuzzy");
                        }
                        if ('' == "delivered") {
                            markerOpacity("driverMarker", 0);
                            jobDelivered();
                        }
                        if ('' != "idle" && '' != "booked" && '' != "driver_assigned" && '' != "en_route_pickup" && '' != "at_pickup" && '' != "cancel_requested") {
                            removeCancel();
                            removeReprint();
                        }
                    }

                    webSocketJobSubscribe(, incomingStatusUpdate);

                })
                .fit()
                .trafficlayer();

        }

        var zoomed = false;

        function updateDriverDetail(detail, update) {

            switch (true) {
                case (typeof (update) == "undefined" || update == null || update == ""):
                    return;
                case (detail == "#driver-photo"):
                    if ($(detail).attr('src') != update) {
                        $(detail).attr('src', '/profile/image/' + btoa(update));
                    }
                case (detail == "#driver-phone"):
                    if ($(detail).text() != update) {
                        $(detail).text('<a href="tel:' + update + '">' + update + '</a>');
                    }
                default:
                    if ($(detail).text() != update) {
                        $(detail).text(update);
                    }
            }
        }

        function incomingStatusUpdate(m) {

            var channelName = m.actualChannel;
            var channelGroup = m.subscribedChannel;
            var pubTT = m.timetoken;
            var payload = m.message;
            var progress;

            if (payload.JobId ==) {

                if (payload.DeliveryStatus != "idle" && payload.DeliveryStatus != "en_route_pickup") {
                    updateDriverDetail('#driver-photo', payload.DriverImage);
                    updateDriverDetail('#driver-vehicle-reg', payload.DriverVehicleReg);
                    updateDriverDetail('#driver-name', payload.DriverName);
                    updateDriverDetail('#driver-phone', payload.DriverPhone);
                }

                if (typeof payload.Latitude != 'undefined' || typeof payload.Progress != 'undefined') {

                    if (!zoomed && payload.DeliveryStatus.toLowerCase() == "en_route_delivery") {
                        locationmap.setZoom(locationmap.zoom + 1);
                        zoomed = true;
                    }

                    if (payload.Latitude == null) {

                        if (payload.Progress == null) {
                            markerAccuracy("driverMarker", "fuzzy");
                            moveToPoint('driverMarker', Math.floor(eval((allPathsLength - 1) / 2)));
                        } else {

                            progress = payload.Progress < 1 ? 1 : payload.Progress > 100 ? 100 : payload.Progress;
                            var currentStep = Math.floor(eval((allPathsLength - 1) * progress / 100));

                            markerAccuracy("driverMarker", (payload.DeliveryStatus.toLowerCase() == "en_route_pickup" ? "fuzzy" : "known"));

                            clearTimeout(deliveryAnimation);

                            if (payload.DeliveryStatus.toLowerCase() == "en_route_delivery") {

                                var coveredSteps, remainingSteps, duration;
                                var animateSteps, animateTimeout;

                                var d = new Date();
                                var currentUpdate = d.getTime();

                                remainingSteps = allPathsLength - currentStep;

                                coveredSteps = currentStep - previousStep;
                                duration = currentUpdate - previousUpdate;

                                animateSteps = (coveredSteps > remainingSteps ? remainingSteps : coveredSteps);
                                animateTimeout = duration / animateSteps;

                                if (animationStep <= currentStep) {
                                    deliveryAnimation = window.setTimeout(function () {
                                        animateDelivery(currentStep)
                                    }, animateTimeout);
                                }

                                previousStep = currentStep;
                                previousUpdate = currentUpdate;

                            } else {
                                moveToPoint('driverMarker', currentStep);
                            }
                        }
                    } else {
                        markerAccuracy("driverMarker", (payload.DeliveryStatus.toLowerCase() == "en_route_pickup" ? "fuzzy" : "known"));
                        placeMarker("driverMarker", payload.Latitude, payload.Longitude);
                    }

                }

                if (typeof payload.DeliveryStatus != 'undefined' && payload.DeliveryStatus != "location_update") {
                    console.log('delivery status=' + payload.DeliveryStatus);

                    $('#DeliveryStatus').html(status_description(payload.DeliveryStatus));
                    $('.history-dropdown').css('background-color', class_colour(bootstrap_class(payload.DeliveryStatus)));

                    var jobStatus = typeof payload.JobStatus != "undefined" ? payload.JobStatus : "";
                    var deliveryStatus = typeof payload.DeliveryStatus != "undefined" ? payload.DeliveryStatus : "";
                    var pickupTime = typeof payload.PickupTime != "undefined" ? payload.PickupTime : "";
                    var deliveryTime = typeof payload.DeliveryTime != "undefined" ? payload.DeliveryTime : "";
                    var timeData = {
                        'status': jobStatus,
                        'progress': deliveryStatus,
                        'pickupTime': pickupTime,
                        'deliveryTime': deliveryTime
                    };
                    $('#PickupTime').html(render_job_time(null, null, timeData).replace(/\s/g, ''));


                    if (payload.DeliveryStatus == "delivered") {
                        markerOpacity("driverMarker", 0);
                        $('#mapmodalcontent').gmap3().fit();
                        jobDelivered();
                    }
                    if (payload.DeliveryStatus != "idle" && payload.DeliveryStatus != "booked" && payload.DeliveryStatus != "driver_assigned" && payload.DeliveryStatus != "en_route_pickup" && payload.DeliveryStatus != "at_pickup" && payload.DeliveryStatus != "cancel_requested") {
                        removeCancel();
                        removeReprint();
                    }
                }

            }

        }

        function onShown() {
            hideCrudSplash();
            showRoute();
            $('#timestamp-data').hide();

            $('#modal-footer-notes').show().html(' support <a class="text-info font-bold" href="tel:"></a> reference   <div class="font-trans">NOQU Delivery job </div>').addClass('text-info text-left');
        }

        function onHidden() {
            track = [];
            webSocketJobUnsubscribe();
        }

        function requestCancelJob(id) {

            $('[data-toggle="popover"]').popover('hide');

            $.ajax({
                url: '/admin/ajax/39594d6c-c7ba-4e47-9ad9-ff57c66a86bc/jobs/job/ajaxCanCancel/3665',
                method: 'POST',
                dataType: 'json',
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#web-users').html('failed to load');
                    $('#api-users').html('failed to load');
                    ajaxError(xhr, ajaxOptions, thrownError);
                },
                success: function (json) {
                    canWeCancelJob(id, json)
                },
                complete: function () {
                }
            });

        }

        function cancelJob(id) {

            $.ajax({
                url: '/admin/ajax/39594d6c-c7ba-4e47-9ad9-ff57c66a86bc/jobs/job/ajaxCancel/3665',
                method: 'POST',
                dataType: 'json',
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#web-users').html('failed to load');
                    $('#api-users').html('failed to load');
                    ajaxError(xhr, ajaxOptions, thrownError);
                },
                success: function (json) {
                    if (json.Cancelled) {
                        swal({
                            title: 'Cancelled',
                            text: "Cancelled Job Successfully",
                            type: "success"
                        }, function (isConfirm) {
                            hideCrudEdit();
                        })
                    } else {
                        cantCancelJob(id, json.Message)
                    }
                },
                complete: function () {
                }
            });

        }

        function resetJob(id) {

            $.ajax({
                url: '/admin/ajax/39594d6c-c7ba-4e47-9ad9-ff57c66a86bc/jobs/job/ajaxCancel/3665/reset',
                method: 'POST',
                dataType: 'json',
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#web-users').html('failed to load');
                    $('#api-users').html('failed to load');
                    ajaxError(xhr, ajaxOptions, thrownError);
                },
                success: function (json) {
                    if (json.Cancelled) {
                        swal({
                            title: 'Cancelled and Reset',
                            text: "Cancelled and Reset Job Successfully",
                            type: "success"
                        }, function (isConfirm) {
                            hideCrudEdit();
                        })
                    } else {
                        cantCancelJob(id, json.Message)
                    }
                },
                complete: function () {
                }
            });

        }

        function canWeCancelJob(id, json) {

            if (json.Cancellable == 'NO') {
                cantCancelJob(id, 'Unable to cancel job');
            } else {
                message = 'Attempt to cancel job';
                fee = json.CancellationFee == 'UNKNOWN' ? 'Your normal cancellation fee will apply' : "Estimated Charge: " + (json.CancellationFee ? format_currency(json.CancellationFee, 'gbp') : 'Free') + "\n\n" + 'NOTE: Charges are based on the current delivery status and will change as the job progresses';
                confirmCancelJob(id, message, fee);
            }

        }

        function cantCancelJob(id, message) {

            swal({
                type: "warning",
                title: "Cancel Job Failed",
                text: message
            });

        }

        function confirmCancelJob(id, message, fee) {
            var swalFunction = function () {
                swal({
                    title: message,
                    text: fee,
                    type: "warning",
                    showCancelButton: false,
                    showConfirmButton: true,
                    confirmButtonText: "Back",
                    closeOnConfirm: true,
                    closeOnCancel: true
                });
            };

            swalExtend({
                swalFunction: swalFunction,
                hasCancelButton: true,
                buttonNum: 1,
                buttonNames: ["Cancel Job"],
                clickFunctionList: [
                    function () {
                        // console.log('CANCEL');
                        cancelJob(id);
                    }
                ]
            });

        }

        function rateJob(id, rating) {

            $.ajax({
                url: '/admin/ajax/39594d6c-c7ba-4e47-9ad9-ff57c66a86bc/jobs/job/ajaxRateJob/3665/' + rating,
                method: 'POST',
                dataType: 'json',
                error: function (xhr, ajaxOptions, thrownError) {
                    ajaxError(xhr, ajaxOptions, thrownError);
                },
                success: function (json) {
                    if (json.Rated) {
                        swal({
                            type: "success",
                            title: 'Rated',
                            text: "Thanks for your rating!"
                        }, function (isConfirm) {
//                            hideCrudEdit();
                        });
                        $('#rating-buttons').html('Thanks for your rating!');
                    } else {
                        swal({
                            type: "warning",
                            title: "Rating Job Failed",
                            text: message
                        });
                    }
                },
                complete: function () {
                }
            });

        }

        function createForceStatus(status, multiDrop = false) {
            var optionDriverAssigned = '';
            var optionEnRoutePickup = '';
            var optionAtPickup = '';
            var optionDropOff = '';
            var optionEnRouteDelivery = '<option value="en_route_delivery">EN ROUTE DELIVERY</option>';
            var optionAtDelivery = '<option value="at_delivery">AT DELIVERY</option>';
            var optionDelivered = '<option value="delivered">DELIVERED</option>';

            if (multiDrop == true) {
                optionDropOff = '<option value="dropoff">DROP OFF</option>';
            }

            switch (status) {
                case 'idle':
                case 'booked':
                    optionDriverAssigned = '<option value="driver_assigned">DRIVER ASSIGNED</option>';
                case 'driver_assigned':
                    optionEnRoutePickup = '<option value="en_route_pickup">EN ROUTE PICKUP</option>';
                    optionAtPickup = '<option value="at_pickup">AT PICKUP</option>';
                case 'en_route_pickup':
                    optionAtPickup = '<option value="at_pickup">AT PICKUP</option>';
                case 'at_pickup':
                case 'dropoff':
                case 'en_route_delivery':
                    $('#editmodalclose').after('<div id="force-status" class="row"><div class="col-xs-4 pull-right"><div class="input-group"><select id="job-status" class="form-control">' + optionDriverAssigned + optionEnRoutePickup + optionAtPickup + optionEnRouteDelivery + optionDropOff + optionAtDelivery + optionDelivered + '</select><span class="input-group-btn"><button type="button" class="btn btn-danger" id="force-status" onclick="proceedForcingStatus(, $(\'#job-status\').val())">Change status</button></span></div></div></div>');
                    break;
                case "at_delivery":
                    $('#editmodalclose').after('<div id="force-status" class="row"><div class="col-xs-4 pull-right"><div class="input-group"><select id="job-status" class="form-control">' + optionDelivered + '</select><span class="input-group-btn"><button type="button" class="btn btn-danger" id="force-status" onclick="proceedForcingStatus(, $(\'#job-status\').val())">Change status</button></span></div></div></div>');
                    break;
                case "take_signature":
                    $('#editmodalclose').after('<div id="force-status" class="row"><div class="col-xs-4 pull-right"><div class="input-group"><select id="job-status" class="form-control">' + optionEnRouteDelivery + optionDelivered + '</select><span class="input-group-btn"><button type="button" class="btn btn-danger" id="force-status" onclick="proceedForcingStatus(, $(\'#job-status\').val())">Change status</button></span></div></div></div>');
                    break;

            }
        }

        function proceedForcingStatus(id, status) {
            swal({
                    title: "Change status",
                    text: "Are you sure you want to change the job status?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "orange",
                    confirmButtonText: "Change",
                    cancelButtonText: "Cancel",
                    closeOnConfirm: true,
                    closeOnCancel: true
                },
                function (isConfirm) {
                    if (isConfirm) {
                        forceStatus(id, status);
                    }
                });

        }

        function forceStatus(id, status) {
            $.ajax({
                url: '/admin/ajax/' + token + '/jobs/job/forceStatus/' + id + '/' + status,
                method: 'POST',
                dataType: 'json',
                error: function (xhr, ajaxOptions, thrownError) {
                    ajaxError(xhr, ajaxOptions, thrownError);
                },
                success: function (json) {
                },
                complete: function () {
                }
            });
        }
    </script>
    <input type="hidden" name="_token" value="1ed189e6-cacc-4ad2-8f3f-a58ca7d0273c"/></form>
<script>
    //        $("#crud-editx").validate({
    //            submitHandler: function (form) {
    //                form.submit();
    //            },
    //            errorPlacement: function (error, element) {
    //                $(element)
    //                        .closest("form")
    //                        .find("label[for='" + element.attr("id") + "']")
    //                        .append(error);
    //            },
    //            errorElement: "span"
    //        });

    $('#crud-edit').click(function () {
        $('.postcodeListContainer').hide();
    });

    $('.form-control[data-rule-digits="true"]').on('change', function () {
        $(this).val($(this).val().replace(/\s/g, ''));
    });
    $('.form-control[data-rule-digits="true"]').change();

    $('.form-control').on('change', function () {
        $(this).val($.trim($(this).val()));
    });

</script>

